.app {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px 25px auto 20px;
  grid-template-areas: "header header header" "sub-header sub-header sub-header" "sidebar-left main-content sidebar-right" "footer footer footer";

  .left-side-drawer {
    //overflow-y: scroll;
    //overflow-x: hidden;
    width: 300px;
    max-width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: white;
    border-right: 1px solid #B6B6B6;
    position: absolute;
    left:  20px;
    top: 45px;
    height: 90vh;
    max-height: 90vh;
  }

  .bottom-footer-drawer {
    //overflow-y: scroll;
    //overflow-x: hidden;
    position: absolute;
    width: 97.10%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: white;
    border-top: 1px solid #B6B6B6;
    left:  20px;
    //top: 50vh;
    bottom: 20px;
    height: 30vh;
    max-height: 30vh;
  }


  .sub-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .sub-header-left{

    }
    .sub-header-right{
      div{
        margin-left: 2.5px;
        cursor: pointer;
        text-align: center;
        padding: 0 10px;
        white-space: nowrap;
        height: 25px;
        display: inline-flex;

        .selected{
          background-color: #BDBDBD;
        }

        &:hover {
          background-color: #D9D9D9;
        }

        span {
          padding-right: 5px;
          color: #727272;
        }
      }
    }
  }
  .footer{
    grid-area: footer;
    background-color: #F2F2F2;
    border-top: 0.5px solid #BDBDBD;
    margin-left: 17px;
    display: flex;
    flex-flow: row nowrap;
    div{
      margin-left: 2.5px;
      cursor: pointer;
      padding: 0 10px;
      white-space: nowrap;
      height: 20px;
      display: inline-flex;

      .selected{
        background-color: #BDBDBD;
      }

      &:hover {
        background-color: #D9D9D9;
      }

      span {
        padding-right: 5px;
        color: #727272;
      }
    }
  }

  .header {
    grid-area: header;
    background-color: #F2F2F2;
    border-bottom: 0.5px solid #BDBDBD;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: row nowrap;

      li {
        text-align: center;
        padding: 0 10px;
        cursor: pointer;

        &::first-letter{
          text-decoration: underline;
        }

        &:hover {
          //background-color: #adf;
          background-color: lighten(#337ab7, 10%);
          color: white;
        }

        .active {
          background-color: #337ab7;
        }
      }
    }

  }

  .sub-header {
    grid-area: sub-header;
    background-color: #F2F2F2;
    border-bottom: 0.5px solid #BDBDBD;
  }

  .sidebar-left {
    grid-area: sidebar-left;
    background-color: #F2F2F2;
    border-right: 0.5px solid #BDBDBD;

    .rotate-left {
      display: flex;
      transform: rotate(-90deg);
      justify-content: flex-end;
      //margin-top: 10px;

      div {
        margin-left: 2.5px;
        cursor: pointer;
        padding: 0 10px;
        white-space: nowrap;
        height: 20px;
        display: inline-flex;

        .selected{
          background-color: #BDBDBD;
        }

        &:hover {
          background-color: #D9D9D9;
        }

        span {
          padding-right: 5px;
          color: #727272;
        }
      }
    }
  }

  .sidebar-right {
    grid-area: sidebar-right;
    background-color: #F2F2F2;
    border-left: 0.5px solid #BDBDBD;

    .rotate-right {
      display: flex;
      transform: rotate(90deg);
      //margin-top: 10px;

      div {
        margin-right: 2.5px;
        cursor: pointer;
        padding: 0 10px;
        white-space: nowrap;
        //background-color: #BDBDBD;
        height: 20px;
        display: inline-flex;

        .selected{
          background-color: #BDBDBD;
        }

        &:hover {
          background-color: #D9D9D9;
        }

        span {
          padding-right: 5px;
          color: #727272;
        }
      }
    }

  }

  .main-content {
    grid-area: main-content;
    background-color: #B6B6B6;
    //
    //.main-content-svg{
    //  height: inherit;
    //}
    //.component-drawer{
    //  //margin:0.5em;
    //  display: inline ;
    //  position: relative;
    //  background-color: red;
    //  left: 0;
    //  top : 0;
    //}

  }
}

