$bg: 'bg';
$menu-bg: 'menu-bg';
$text-color: 'text-color';

$themes: (
        default: (
                menu-bg: $menu-light-bg,
                bg: $light-bg,
                text-color: $text-light-color,
        ),
        dark: (
                menu-bg: $menu-dark-bg,
                bg: $dark-bg,
                text-color: $text-dark-color,
        ),
);

@mixin themify() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}