.app-editor {
  padding: 0;
  margin: 0;
  height: calc(100vh - 25px);
  width: 100%;

  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px 25px auto;
  grid-template-areas: "app-editor-header app-editor-header app-editor-header"
  "app-editor-sub-header app-editor-sub-header app-editor-sub-header" "app-editor-left-side app-editor-content-area app-editor-right-side";

  .app-editor-header {
    grid-area: app-editor-header;
    background-color: #F2F2F2;
    border-bottom: 0.5px solid #BDBDBD;
    z-index: 1000;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        display: block;
        float: left;
        padding: 0 10px;
        position: relative;
        text-decoration: none;

        &::first-letter {
          text-decoration: underline;
        }

        &:hover {
          //background-color: #adf;
          background-color: lighten(#337ab7, 10%);
          color: white;
        }

        ul {
          background-color: #F2F2F2;
          border: 0.5px solid #BDBDBD;
          visibility: hidden;
          opacity: 0;
          min-width: 5rem;
          position: absolute;
          left: 0;
          display: none;

          li {
            clear: both;
            width: 100%;
            padding: 2px 10px;
            white-space: nowrap;
            //height: 2rem;
          }
        }

        &:hover > ul, & ul:hover {
          visibility: visible;
          opacity: 1;
          display: block;
          color: black;
        }

      }
    }

  }

  .app-editor-sub-header {
    grid-area: app-editor-sub-header;
    background-color: #F2F2F2;
    border-bottom: 0.5px solid #BDBDBD;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    //.app-editor-sub-header-left{}

    .app-editor-sub-header-left, .app-editor-sub-header-right{
      div {
        margin-left: 2.5px;
        cursor: pointer;
        text-align: center;
        padding: 0 10px;
        white-space: nowrap;
        height: 100%;
        display: block;
        float: left;
        position: relative;

        .selected {
          background-color: #BDBDBD;
        }

        &:hover {
          background-color: #D9D9D9;
        }

        span {
          padding-right: 5px;
          color: #727272;
        }

        ul {
          list-style: none;
          z-index: 1000;
          background-color: #F2F2F2;
          border: 0.5px solid #BDBDBD;
          visibility: hidden;
          padding-left: 0;
          margin: 5px 0 0 0;
          //margin-top: 5px;
          opacity: 0;
          position: absolute;
          left: 0;
          display: none;

          li {
            clear: both;
            text-align: left;
            width: 100%;
            padding: 2px 10px;
            white-space: nowrap;

            &:hover {
              background-color: lighten(#337ab7, 10%);
              color: white;
            }
          }

        }

        &:hover > ul, & ul:hover {
          visibility: visible;
          opacity: 1;
          display: block;
          color: black;
        }

      }
    }
  }

  .app-editor-left-side {
    grid-area: app-editor-left-side;

    background-color: #F2F2F2;
    border-right: 0.5px solid #BDBDBD;

    .rotate-left {
      display: flex;
      transform: rotate(-90deg);
      justify-content: flex-end;
      //margin-top: 10px;

      div {
        //margin-left: 2.5px;
        cursor: pointer;
        padding: 0 10px;
        white-space: nowrap;
        height: 20px;
        display: inline-flex;

        .selected {
          background-color: #BDBDBD;
        }

        &:hover {
          background-color: #D9D9D9;
        }

        span {
          padding-right: 5px;
          color: #727272;
        }

      }
    }
  }

  .app-editor-content-area {
    grid-area: app-editor-content-area;

    display: grid;
    grid-template-columns: 30vh auto;
    //grid-template-rows: auto 20px;
    grid-template-areas:
            "app-editor-content-area-left-sidebar app-editor-content-area-workspaces";
            //"app-editor-content-area-left-sidebar app-editor-content-area-bottom-bar";
    height: calc(100vh - 70px);

    .app-editor-content-area-left-sidebar {
      border-right: 1px solid #BDBDBD;
      grid-area: app-editor-content-area-left-sidebar;
      max-width: 300px;
      //min-width: 30vh;
      font-family: Arial, sans-serif;
      font-size: 10pt;
      background-color: white;

      height: calc(100vh - 70px);
      overflow-y: scroll;
    }

    .app-editor-content-area-workspaces {
      grid-area: app-editor-content-area-workspaces;
      background-color:  #B6B6B6;
      //overflow-y: scroll;
      //overflow-x: scroll;
      display: grid;
      //grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(100vh, 1fr));
      grid-template-rows: 25px auto 20px;
      grid-template-areas: "app-editor-content-area-workspaces-tabs" "app-editor-content-area-workspaces-canvas" "app-editor-content-area-workspaces-footer";

      .app-editor-content-area-workspaces-tabs{
        grid-area: app-editor-content-area-workspaces-tabs;
          height: 25px;
          line-height: 25px;
          background-color: #F2F2F2;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          //border-bottom: 1px solid #C9C9C9;

          div{
            width: auto;
            cursor: pointer;
            //padding: 0 10px;
            //padding-left: 10px;
            position: relative;
            white-space: nowrap;
            span{
            //border: 1px solid red;
              padding:0 4px;
            }

            &:hover{
              background-color: #DADADA;
            }
          }

        &::after{
          content:"";
          clear: both;
        }


      }

      .app-editor-content-area-workspaces-canvas{
        grid-area: app-editor-content-area-workspaces-canvas;
        //background-color: orange;
        overflow-y: scroll;
        overflow-x: scroll;
      }

      .app-editor-content-area-workspaces-footer{
        grid-area: app-editor-content-area-workspaces-footer;
        //background-color: lightseagreen;
        background-color: #F2F2F2;
          .footer-bar{

            border-top: 1px solid #BDBDBD;
            div:first-child{
              margin-left: 10px;
            }
            div{
              background-color: #F2F2F2;
              //margin-left: 2.5px;
              cursor: pointer;
              padding: 0 10px;
              white-space: nowrap;
              display: inline-flex;

              .selected {
                background-color: #BDBDBD;
              }

              &:hover {
                background-color: #D9D9D9;
              }

              span {
                padding-right: 5px;
                color: #727272;
              }
            }
          }

          .bottom-footer-drawer{
            background-color: white;
            border-top: 1px solid #BDBDBD;
            //border-top: 0.5px solid #BDBDBD;
            overflow-y: scroll;
            height: calc(30vh - 20px);
            //width: calc(208vh - 40px);
            width: 100%;
          }
      }
    }

    //.app-editor-content-area-bottom-bar {
    //  grid-area: app-editor-content-area-bottom-bar;
    //
    //  .footer-bar{
    //    div{
    //      background-color: #F2F2F2;
    //      //margin-left: 2.5px;
    //      cursor: pointer;
    //      padding: 0 10px;
    //      white-space: nowrap;
    //      height: 20px;
    //      display: inline-flex;
    //
    //      .selected {
    //        background-color: #BDBDBD;
    //      }
    //
    //      &:hover {
    //        background-color: #D9D9D9;
    //      }
    //
    //      span {
    //        padding-right: 5px;
    //        color: #727272;
    //      }
    //    }
    //  }
    //
    //  .bottom-footer-drawer{
    //    border-top: 1px solid #BDBDBD;
    //    overflow-y: scroll;
    //    height: calc(30vh - 20px);
    //  }
    //
    //}
  }

  .app-editor-right-side {
    z-index: 1;
    grid-area: app-editor-right-side;

    background-color: #F2F2F2;
    border-left: 0.5px solid #BDBDBD;

    .rotate-right {
      display: flex;
      transform: rotate(90deg);
      //margin-top: 10px;

      div {
        //margin-right: 2.5px;
        cursor: pointer;
        padding: 0 10px;
        white-space: nowrap;
        //background-color: #BDBDBD;
        height: 20px;
        display: inline-flex;

        .selected {
          background-color: #BDBDBD;
        }

        &:hover {
          background-color: #D9D9D9;
        }

        span {
          padding-right: 5px;
          color: #727272;
        }
      }
    }
  }

  .app-editor-right-side-drawer{
    overflow-y: scroll;
    direction: rtl;
    width: 400px;
    max-width: 400px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: white;
    border-right: 1px solid #B6B6B6;
    position: absolute;
    right: 19.5px;
    top: 70px;
    //height: calc(100% - 90px);
    height: calc(100% - 70px);
    border-bottom: 1px solid #B6B6B6;
  }
}