.nr-ui-view-lasso {
  stroke-width: 1px;
  stroke: lightblue;
  fill: rgba(20,125,255,0.1);
  //stroke-dasharray: 10 5;
  /*stroke-dasharray: 10 ;*/
}


.port {
  stroke: #999;
  stroke-width: 1;
  fill: #ddd;
  cursor: crosshair
}

.port_highlight {
  stroke: #6DA332;
  stroke-width: 3;
  fill: #fff;
  pointer-events: none;
  fill-opacity: 0.5
}

.node {
  /*stroke: #999;*/
  cursor: move;
  /*stroke-width: 1*/
}
.node_selected {
  stroke-width: 2;
  stroke: #ff7f0e !important;
}
.node_placeholder {
  stroke-dasharray:10,4;
  stroke: #aaa;
  fill: #eee;
  opacity: 0.5;
  stroke-width: 2;
}

.link_path {
  stroke: #888888;
  stroke-width: 3px;
  fill: none;
  pointer-events: none;
}

.link_link {
  stroke-width: 2px;
  stroke-dasharray: 10, 5;
  stroke: #CCCCCC;
  fill: none;
  stroke-dasharray: 15, 2;
}

.link_port {
  fill: #eee;
  stroke: #CCCCCC;
  stroke-width: 1px;
}

.port_hovered {
  stroke: #FF7F0E !important;
  fill: #FF7F0E !important;
}

.drag_line {
  stroke: #FF7F0E !important;
  stroke-width: 3;
  fill: none;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #FF7F0E;
  stroke-width: 0;
  pointer-events: none;
  fill: none;
}
